node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build-Outputs
dist
.tmp
.out

# Local logs / profiles
logs

# Angular
frontend/.angular
frontend/.cache

# Nest
backend/.nestjs-cache
backend/.env

# Editor/OS
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.idea
.DS_Store
