<section class="topology-editor">
  <header class="topology-editor__toolbar">
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="triggerOperationalPointImport()"
      [disabled]="importState() === 'running'"
    >
      <mat-icon fontIcon="cloud_download"></mat-icon>
      Importieren
      @if (importState() === 'running') {
        <mat-progress-spinner diameter="16" mode="indeterminate"></mat-progress-spinner>
      }
    </button>
    @if (canToggleConsole()) {
      <button
        mat-button
        type="button"
        (click)="toggleImportConsole()"
        [disabled]="importState() === 'running'"
      >
        {{ importConsoleOpen() ? 'Konsole schließen' : 'Konsole anzeigen' }}
      </button>
    }
  </header>

  @if (importConsoleVisible()) {
    <div class="topology-editor__console">
      <header>
        <span>Import-Log</span>
        <button
          mat-icon-button
          type="button"
          (click)="hideImportConsole()"
          [disabled]="importState() === 'running'"
        >
          <mat-icon>close</mat-icon>
        </button>
      </header>
      <pre>{{ importLogs().join('\n') }}</pre>
    </div>
  }

  <app-attribute-entity-editor
    [title]="'Operational Points'"
    [entities]="entityRecords()"
    [listLimit]="500"
    [attributeDefinitions]="attributeDefinitions()"
    [defaultFallbackValues]="defaultFallback"
    [numericKeys]="numericKeys"
    [actionKeys]="actionKeys"
    [detailError]="error()"
    (saveEntity)="handleSave($event)"
    (deleteEntities)="handleDelete($event)"
    (bulkApply)="handleBulkApply($event)"
    (actionTriggered)="handleAction($event)"
  />
</section>
